$swiper-height: 300px;

$enable-caret:              false;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-print-styles:       false;
$enable-validation-icons:   false;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1500px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);

$border-radius: 0;

$white:    #fff;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000;

$beige:   #fbfbfb;
$blue:    #3d8fcc;
$indigo:  #6610f2 !default;
$purple:  #333f67;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #F96854;
$yellow:  #f6c578;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #78e5f6;

$body-bg: $beige;

$box-shadow-sm: 0 0 4px rgba(0, 0, 0, .2);
$box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
$box-shadow-lg: $box-shadow;

$font-family-sans-serif: Roboto, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: Montserrat, sans-serif;

$input-btn-padding-y: .25rem;
$input-btn-padding-x: .75rem;

$input-btn-focus-box-shadow: none;

$input-bg: $white;
$input-disabled-bg: $gray-200;
$input-color: $gray-900;

$input-border-color: $gray-400;

$border-color: $gray-300;
$input-placeholder-color: $gray-500;
$input-focus-border-color: $gray-600;

// Ember-mdi
$ember-mdi-spin-delay: 0.35s;

// Ember power select

// Backgrounds
$ember-power-select-background-color: $input-bg;
$ember-power-select-disabled-background-color: $input-disabled-bg;
$ember-power-select-multiple-selection-background-color: $input-bg;
$ember-power-select-highlighted-background: $input-border-color;
$ember-power-select-selected-background: $ember-power-select-highlighted-background;

// Texts
$ember-power-select-text-color: $input-color;
$ember-power-select-placeholder-color: $input-placeholder-color;

// Borders
$ember-power-select-border-color: $input-border-color;
$ember-power-select-focus-border-color: $input-focus-border-color;

// Borders radius
$ember-power-select-default-border-radius: $border-radius;

// Texts
$ember-power-select-text-color: $input-color;
$ember-power-select-highlighted-color: $ember-power-select-text-color;

// Other
$ember-power-select-option-padding: $input-btn-padding-x;
$ember-power-select-trigger-ltr-padding: $input-btn-padding-y $input-btn-padding-x;
$ember-power-select-trigger-rtl-padding: $input-btn-padding-y $input-btn-padding-x;
$ember-power-select-dropdown-box-shadow: $box-shadow;
$ember-power-select-clear-btn-margin: 20px;
