$beige: #eff1f5;
$blue: #3d8fcc;
$cyan: #78e5f6;
$red: #F96854;
$yellow: #f6c578;

$card-spacer-x: map-get($spacers, 3);

$font-family-sans-serif: Roboto, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: Montserrat;
