<header>
  <div class="navbar bg-white mb-3">
    <div class="container justify-content-start">
      {{#link-to "index" class="navbar-brand d-flex align-items-center"}}
        <img src="https://godotengine.org/themes/godotengine/assets/logo.svg" alt="Godot Engine" height="48">
      {{/link-to}}

      <nav>
        {{link-to "Assets" "asset" class="p-2 text-dark"}}
      </nav>
    </div>
  </div>
</header>

<main role="main">
  <div class="container">
    {{outlet}}
  </div>
</main>
