<header>
  <div class="navbar bg-white shadow-sm mb-3">
    <div class="container justify-content-start">
      {{#link-to "index" class="navbar-brand d-flex align-items-center"}}
        <img src="/assets/godot.svg" alt="Godot Engine" height="48" class="mr-2"> Asset Store
      {{/link-to}}

      <nav>
        {{link-to "Assets" "assets" class="p-2 text-dark"}}
      </nav>
    </div>
  </div>
</header>

<main role="main" class="container">
  {{outlet}}
</main>
